#container{
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.panel{
  max-height: 420px;
  overflow-y: auto;
}

.panel-heading{
  font-weight: bold;
}

.future {
  background-color: gainsboro;
}

.panel-heading .btn{
  margin-left: 10px;
}
